<nav class="navbar navbar-light">
  <md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar"
                md-selected-nav-item="currentNavItem"
                nav-bar-aria-label="navigation links">
      <a class="md-nav-bar"
         ui-sref="app.home"
         ng-bind="::$ctrl.appName | lowercase">
      </a>
      <a class="md-button md-primary"
         ui-sref-active="active"
         ui-sref="app.home">
        Home
      </a>
      <a class="md-button md-warn"
         ui-sref-active="active"
         ui-sref=""
         sidebarjs-toggle>
        Contact
      </a>
  <span flex> </span>
          <status-user>
      </status-user>


    </md-nav-bar>

  </md-content>
    <side-bar></side-bar>

  </div>
</nav>
