<div>
    <sidebarjs
            sidebarjs-config="{position: 'right'}"
    >
        <md-content>
            <md-tabs class="md-primary" md-center-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Contact">
                    <md-content class="md-padding">
                        <contact-form></contact-form>
                    </md-content>
                </md-tab>
                <md-tab label="Chat">
                    <md-content class="md-padding">
                        <h2 class="md-display-1">Chat</h2>

                    </md-content>
                </md-tab>
                <md-tab label="Phone">
                    <md-content class="md-padding">
                        <h2 class="md-display-1">Telephone</h2>
                        <p class="md-body-1">
                            Call us on +34 980 234 002
                        </p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
        <!--    <div>Contact Us!</div>
            <nav>
                <button ng-click="$ctrl.show('contact')">Contact</button>
                <button ng-click="$ctrl.show('chat')">Chat</button>
                <button ng-click="$ctrl.show('phone')">Call Us!</button>
            </nav>
            <contact-form ng-show="$ctrl.showContact" style="padding: 5px"></contact-form>
            <div ng-show="$ctrl.showChat">Chat</div>
            <div ng-show="$ctrl.showPhone">Phone</div>-->
    </sidebarjs>
</div>
