<div>
    <sidebarjs
            sidebarjs-config="{
            position: 'right',
            documentSwipeRange: '100px',
            documentMinSwipeX: '10px'
            }"
    >
        <md-content class="content-slider-tab">
            <md-tabs class="md-primary " md-center-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Contact">
                    <md-content class="md-padding content-slider-tab">
                        <contact-form></contact-form>
                    </md-content>
                </md-tab>
                <md-tab label="Chat">
                    <md-content class="md-padding content-slider-tab">
                        <div>
                            <h2 class="md-display-1">Chat</h2>
                        </div>


                    </md-content>
                </md-tab>
                <md-tab label="Phone">
                    <md-content class="md-padding content-slider-tab">
                        <h2 class="md-display-1">Telephone</h2>
                        <p class="md-body-1">
                            Call us on +34 980 234 002
                        </p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </sidebarjs>
</div>
